// TODO
.container {
  width: 100%;
  height: calc(100vh - 5rem);
}

.banner {
  width: 100%;
  object-fit: contain;
  max-height: 25rem;
}

.blog {
  width: 45rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;

  > h1 {
    font-size: 3rem;
    font-weight: 700;
    display: block;
    align-self: center;
  }

  > div {
    margin-top: 1.5rem;
  }
}

.content {
  h2 {
    color: var(--white);
    font-size: 2.25rem;
  }

  div {
    margin-top: 0.75rem;

    color: var(--gray-200);
    font-size: 1.125rem;
    line-height: 2rem;

    a {
      color: var(--pink-500);
      transition: color 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }

    iframe {
      width: 100%;
      height: calc((45rem * 9) / 16);
    }

    img {
      width: 100%;
      max-height: calc((45rem * 9) / 16);
      object-fit: contain;
    }
  }

  & + & {
    margin-top: 1.5rem;
  }
  // text-align: justify;
  // font-size: 1.125rem;
  // font-weight: 400;
  // line-height: 25px;
  // color: var(--body);

  // h2 {
  //   line-height: 50px;
  //   font-weight: 700;
  //   font-size: 2.25rem;
  //   color: var(--heading);

  //   margin-top: 2rem;
  //   margin-bottom: 2rem;
  // }

  // img {
  //   max-width: 100%;
  //   align-self: center;
  //   background: red;
  // }

  // a {
  //   color: var(--highlight)
  // }
}
